[Desktop Entry]
Type=Application
Version=1.0
Name=Install Hawaii
GenericName=Live Installer
TryExec=calamares
Exec=pkexec /usr/bin/calamares
Comment=Install the operating system to disk
Icon=system-software-install
Terminal=false
StartupNotify=false
Categories=Qt;System;
